footer {
    background: #F9FFFF;
    border-radius: 0.3rem;
    font-family: 'Montserrat';
    font-style: normal;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding-top: 6rem;
    padding-bottom: 3rem;

    @include breakpoint($sm-bp) {
        flex-direction: column;
    }

    .footer-content__logo {

        @include breakpoint($sm-bp) {
            display: flex;
            justify-content: center;
            margin-bottom: 4rem;
        }



        svg {
            width: 17rem;
            height: 15rem;

            @include breakpoint($bm-bp) {
                width: 8rem;
                height: 7rem;
            }
            
        }
    }
    
    


    ul {
        width: 11.1%;
        display: flex;
        flex-direction: column;
        gap: 1.7rem;

        @include breakpoint($bm-bp) {
            width: 26.1%;
        }

        @include breakpoint($sm-bp) {
            width: 100%;
        }

        .footer-content__title {
            font-family: 'Montserrat';
            font-style: normal;
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 2rem;
            color: #003837;

            @include breakpoint($sm-bp) {
                margin-top: 4rem;
            }
        }

        .footer-content__alarmBtn {
            a {
                font-weight: 400;
                font-size: 1.6rem;
                line-height: 3rem;
                color: #D51022;
            }
        }
    }

    .footer-content__lastColumn {
        width: 25.5%;

        @include breakpoint($sm-bp) {
            width: 100%;
        }
    }

    .footer-content__confidence {
        margin-top: 1.3rem;
        a {
            font-weight: 400;
            font-size: 1rem;
            line-height: 2rem;
            text-decoration-line: underline;
            color: rgba(0, 155, 151, 0.5);
            white-space: nowrap;   
        }
    }
}

.footer-content__arrowDownContainer {
    position: relative;

    button {
        display: flex;
        align-items: center;
    }

    .footer-content__arrowDown {
        background: none;
        border: none;
        padding: 0rem;
        
        span {
            font-weight: 400;
            font-size: 1.6rem;
            line-height: 2.2rem;
            color: #003837;
        }
        

        svg {
            width: 1.5rem;
            height: 1rem;
            fill: transparent;
            transition: transform .22s;
            stroke: #363636;
        }
        
    }

    ul {
        position: absolute;
        background: #F9FFFF;
        z-index: 111;
        box-shadow: 0 5px 10px 1px rgba(24,24,24,.3);
        padding: 0rem;
        width: 100%;
        top: 3rem;
        padding: 1.6rem 2.7rem;
        visibility: hidden;
        opacity: 0;
        transition: .35s all cubic-bezier(0.65, 0.05, 0.36, 1);
        border-radius: 0.6rem;
        width: max-content;
    }

    &:hover {
        ul {
            opacity: 1;
            visibility: visible;
            transform: translate3d(0, 0, 0);
            transition: .35s all cubic-bezier(0.65, 0.05, 0.36, 1);
        }

        .footer-content__arrowDown {

            svg {
                transform: rotate(180deg);
                transition: transform .22s;
            }
        }
    }
}

.footer-padsBlock {
    display: none;
    background: rgba(0, 155, 151, 0.2);
    border-radius: 0.3rem;

    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 1.4rem;
    line-height: 4.6rem;
    color: #003837;

    span {
        font-family: 'Montserrat';
        font-style: normal;
        font-weight: 500;
        font-size: 1.4rem !important;
        line-height: 4.6rem !important;
        color: #003837;
    }


    @include breakpoint($bm-bp) {
        display: block;
    }

    @include breakpoint($sm-bp) {
        display: none;
    }

    ul {
        display: flex;
        justify-content: space-between;
    }

    .footer-content__arrowDownContainer {
        ul {
            display: flex;
            flex-direction: column;
            width: max-content;
        }
    }
}

.footer-content__padHidden {
    @include breakpoint($bm-bp) {
        display: none !important;
    }
}
