<footer class="section footer-advanced">
  <div class="footer-advanced-main">
    <div class="container">
      <div class="row row-50">
        <div class="col-sm-5 col-md-7 col-lg-3">
          <div class="d-flex justify-content-center">
            <ul class="list-inline list-inline-md">
              <li><a class="icon icon-sm link-default mdi mdi-vk" href="https://vk.com/ortoxclinic" target="_blank"></a>
              </li>
              <li>
                <a class="icon icon-sm link-default mdi" href="https://zen.yandex.ru/id/623d79afe9b1211e899b29eb"
                  target="_blank">
                  <svg width="18" height="18" viewBox="0 0 56 56" fill="none" xmlns="http://www.w3.org/2000/svg">
                    <path
                      d="M0 28C0 12.536 12.536 0 28 0C43.464 0 56 12.536 56 28C56 43.464 43.464 56 28 56C12.536 56 0 43.464 0 28Z"
                      fill="rgba(49, 49, 49, 0.75)" />
                    <path fill-rule="evenodd" clip-rule="evenodd"
                      d="M27.4334 0C27.3011 11.5194 26.5478 17.9662 22.257 22.257C17.9662 26.5478 11.5194 27.3011 0 27.4334V29.1051C11.5194 29.2373 17.9662 29.9906 22.257 34.2814C26.4805 38.5049 27.2766 44.8173 27.4267 56H29.1118C29.2618 44.8173 30.0579 38.5049 34.2814 34.2814C38.5049 30.0579 44.8173 29.2618 56 29.1118V27.4266C44.8173 27.2766 38.5049 26.4805 34.2814 22.257C29.9906 17.9662 29.2373 11.5194 29.1051 0H27.4334Z"
                      fill="white" />
                  </svg>
                </a>
              </li>
              <!-- <li><a class="icon icon-sm link-default mdi mdi-instagram" href="https://instagram.com/ortox_clinic_krd?igshid=YmMyMTA2M2Y=" target="_blank"></a></li> -->
              <li><a class="icon icon-sm link-default mdi mdi-whatsapp" target="_blank"
                  href="https://api.whatsapp.com/send?phone=79298335338&text="></a></li>
            </ul>
          </div>
        </div>
        <div class="col-lg-5">
          <h4>О клинике</h4>
          <p class="footer-advanced-text">
            Клиника «ОРТОКС» - это уникальный медицинский центр нового поколения с инновационными технологиями в области
            диагностики и лечения позвоночника и суставов.
          </p>
        </div>
        <div class="col-sm-7 col-md-5 col-lg-4">
          <h4 class="d-none d-md-block">&nbsp;</h4>
          <p class="post-inline-title">
            Клиника находится в центре Краснодара на улице Северной, 465. Клиника «ОРТОКС» - Ваш первый шаг в здоровое
            будущее
          </p>

          <!-- Post Inline-->
          <!-- <article class="post-inline">
            <ul class="post-inline-meta">
              <li>by Theresa Barnes</li>
              <li><a href="single-blog-post.html">2 days ago</a></li>
            </ul>
          </article> -->
          <!-- Post Inline-->
          <!-- <article class="post-inline">
            <p class="post-inline-title"><a href="single-blog-post.html">Treating Emotional Issues Correctly and How It Can Influence Your Life</a></p>
            <ul class="post-inline-meta"> 
              <li>by Theresa Barnes</li>
              <li><a href="single-blog-post.html">2 days ago</a></li>
            </ul>
          </article> -->
        </div>

      </div>
    </div>
  </div>
  <!-- <div class="footer-advanced-aside">
    <div class="container">
      <div class="footer-advanced-layout">
        <div>
          <ul class="list-nav"> 
            <li><a href="index.html">Home</a></li>
            <li><a href="about-us.html">About</a></li>
            <li><a href="services.html">Services</a></li>
            <li><a href="grid-gallery.html">Gallery</a></li>
            <li><a href="grid-blog.html">Blog</a></li>
            <li><a href="contacts.html">Contacts</a></li>
          </ul>
        </div>
        <div>
          <ul class="list-inline list-inline-md">
            <li><a class="icon icon-sm link-default mdi mdi-facebook" href="#"></a></li>
            <li><a class="icon icon-sm link-default mdi mdi-twitter" href="#"></a></li>
            <li><a class="icon icon-sm link-default mdi mdi-instagram" href="#"></a></li>
            <li><a class="icon icon-sm link-default mdi mdi-linkedin" href="#"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </div> -->
  <div class="container">
    <hr>
  </div>
  <div class="footer-advanced-aside">
    <div class="container">
      <div class="footer-advanced-layout">
        <a class="brand" href="/">Политика конфиденциальности</a>
        <!-- Rights-->
        <p class="rights">
          <span>&copy;&nbsp;</span>
          <span class="copyright-year">2022</span>
          <span>&nbsp;Разработка сайта</span>
          <a href="http://www.acme-group.ru/" target="_blank">Acme-Group</a>
        </p>
      </div>
    </div>
  </div>
</footer>