<footer class="footer">
  <div class="footer-padsBlock page-container">
    <ul>
      <li class="footer-content__arrowDownContainer">
        <button class="footer-content__arrowDown">
          <span>Клиника</span>
          <svg>
            <use href="#footerArrow"></use>
          </svg>
        </button>
        <ul>
          <li><a href="#">111111111</a></li>
          <li><a href="#">111111111</a></li>
          <li><a href="#">111111111</a></li>
        </ul>
      </li>
      <li class="footer-content__arrowDownContainer">
        <button class="footer-content__arrowDown">
          <span>Список услуг</span>
          <svg>
            <use href="#footerArrow"></use>
          </svg>
        </button>
        <ul>
          <li><a href="#">222222222</a></li>
          <li><a href="#">222222222</a></li>
          <li><a href="#">222222222</a></li>
        </ul>
      </li>
      <li><a href="#">Специалисты</a></li>
      <li><a href="#">Результаты лечения</a></li>
      <li><a href="#">Статьи</a></li>
      <li><a href="#">Цены</a></li>
      <li><a href="#">Контакты</a></li>
    </ul>
  </div>

  <div class="footer-content page-container">
    
      <a class="footer-content__logo" href="/">
        <svg>
          <use href="#footerLogo"></use>
        </svg>
      </a>
  
      <ul class="footer-content__padHidden">
        <li class="footer-content__title">
          Меню сайта
        </li>
        <li class="footer-content__arrowDownContainer">
          <button class="footer-content__arrowDown">
            <span>Клиника</span>
            <svg>
              <use href="#footerArrow"></use>
            </svg>
          </button>
          <ul>
            <li><a href="#">111111111</a></li>
            <li><a href="#">111111111</a></li>
            <li><a href="#">111111111</a></li>
          </ul>
        </li>
        <li class="footer-content__arrowDownContainer">
          <button class="footer-content__arrowDown">
            <span>Список услуг</span>
            <svg>
              <use href="#footerArrow"></use>
            </svg>
          </button>
          <ul>
            <li><a href="#">222222222</a></li>
            <li><a href="#">222222222</a></li>
            <li><a href="#">222222222</a></li>
          </ul>
        </li>
        <li><a href="#">Специалисты</a></li>
        <li><a href="#">Результаты лечения</a></li>
        <li><a href="#">Статьи</a></li>
        <li><a href="#">Цены</a></li>
        <li><a href="#">Контакты</a></li>
        <li class="footer-content__confidence"><a href="#">Политика конфиденциальности</a></li>
      </ul>
  
      <ul>
        <li class="footer-content__title">Наши услуги</li>
        <li><a href="#">Консультации специалистов</a></li>
        <li><a href="#">Врачебные манипуляции</a></li>
        <li><a href="#">Хирургические операции</a></li>
        <li><a href="#">Диагностика</a></li>
      </ul>
  
      <ul>
        <li> </li>
        <li><a href="#">Массаж-ЛФК</a></li>
        <li><a href="#">Физиотерапия</a></li>
        <li><a href="#">Изготовление стелек</a></li>
      </ul>
  
      <ul class="footer-content__lastColumn">
        <li class="footer-content__title">Контакты</li>
        <li><a href="tel:8 800 222 83 31">8 800 222 83 31</a> <a href="tel:8 929 833 53 38">8 929 833 53 38</a></li>
        <li><a href="mailto:info@ortox-clinic.ru">info@ortox-clinic.ru</a></li>
        <li><a href="#">г.Краснодар, ул.Северная, 465</a></li>
        <li><a href="#">Работаем 7 дней в неделю с 10 до 20</a></li>
        <li><a href="https://vk.com/ortoxclinic" target="_blank">В контакте</a></li>
        <li><a href="https://dzen.ru/id/623d79afe9b1211e899b29eb?utm_referer=ortox-clinic.ru" target="_blank">Яндекс Дзен</a></li>
        <li class="footer-content__alarmBtn"><a href="#">Экстренный прием</a></li>
      </ul>
  </div>
</footer>